:root {
    --image-frame-height: 770px;
    --footer-heigth: 80px;
}

html,
body {
    height: 100%;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 393px;
    height: 100%;
    margin: 0 auto;
    background: #fff2f2;
}

.btn {
    width: 122px;
    height: 54px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 12px;
    background: #f288a4;
}

.btn:hover {
    color: white;
    background: #db5a7c;
}

.btn-sm {
    height: 36px;
    width: 80px;
    border-radius: 10px;
}

.cancel-btn {
    background: gray;
}

.cancel-btn:hover {
    background: lightgray;
    color: #838282;
}
